.searchForm{ 
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   width: 100%;
   min-width: 355px;
   padding-bottom: 15px;
   background-color: rgb(248, 150, 115);
}

.form{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 355px;
}

.input{
    width: 250px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    font-size: 16px;
}

.btn {
    border: none;
    width: 90px;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 10px;
    font-weight: 700;
    padding: 10px;
    background-color: rgb(244, 203, 150);
    
}

.btn:hover,
.btn:focus{
    background-color: rgb(232, 110, 66);
    color: whitesmoke;
    cursor: pointer;
}