.link {
    display: inline-block;
    margin: 10px;
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 10px 8px;
    border: 1px solid black;
    background-color: whitesmoke;
    transition:
    color 250ms linear,
    font-weight 250ms linear,
    border 250ms linear,
    background-color 250ms linear;
}

.link:hover,
.link:focus{
    background-color: rgb(232, 110, 66);
    color: whitesmoke;
}

.text {
    padding-left: 10px;
    color: rgb(224, 21, 21);
    font-size: 20px;
}